WS_Demo/QuanLySInhVien_WC/Web References/nbs/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ShowTT">
        <s:complexType />
      </s:element>
      <s:element name="ShowTTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowTTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themsuaxoa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="themsuaxoaResponse">
        <s:complexType />
      </s:element>
      <s:element name="TimKiem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TimKiemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TimKiemResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ShowTTSoapIn">
    <wsdl:part name="parameters" element="tns:ShowTT" />
  </wsdl:message>
  <wsdl:message name="ShowTTSoapOut">
    <wsdl:part name="parameters" element="tns:ShowTTResponse" />
  </wsdl:message>
  <wsdl:message name="themsuaxoaSoapIn">
    <wsdl:part name="parameters" element="tns:themsuaxoa" />
  </wsdl:message>
  <wsdl:message name="themsuaxoaSoapOut">
    <wsdl:part name="parameters" element="tns:themsuaxoaResponse" />
  </wsdl:message>
  <wsdl:message name="TimKiemSoapIn">
    <wsdl:part name="parameters" element="tns:TimKiem" />
  </wsdl:message>
  <wsdl:message name="TimKiemSoapOut">
    <wsdl:part name="parameters" element="tns:TimKiemResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ShowTT">
      <wsdl:input message="tns:ShowTTSoapIn" />
      <wsdl:output message="tns:ShowTTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="themsuaxoa">
      <wsdl:input message="tns:themsuaxoaSoapIn" />
      <wsdl:output message="tns:themsuaxoaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TimKiem">
      <wsdl:input message="tns:TimKiemSoapIn" />
      <wsdl:output message="tns:TimKiemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowTT">
      <soap:operation soapAction="http://tempuri.org/ShowTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themsuaxoa">
      <soap:operation soapAction="http://tempuri.org/themsuaxoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiem">
      <soap:operation soapAction="http://tempuri.org/TimKiem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowTT">
      <soap12:operation soapAction="http://tempuri.org/ShowTT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="themsuaxoa">
      <soap12:operation soapAction="http://tempuri.org/themsuaxoa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiem">
      <soap12:operation soapAction="http://tempuri.org/TimKiem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:60106/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:60106/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>